@charset "UTF-8";

/* 回答はここに書いてね */
.q4_contents {
  background-color: #ecf1f2;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.content:first-child {
  margin-top: 0;
}

.box_content {
  display: table-cell;
  text-align: center;
  padding: 20px 0;
}

.box_top_orange {
  width: 100px;
  background-color: #fdc8b8;
}

.box_top_pink {
  background-color: #e0abd9;
}

.box_top_blue {
  width: 100px;
  background-color: #b6d8ed;
}

.box_bottom_yellow {
  background-color: #e5d32e;
}

.box_bottom_red {
  background-color: #ec8f9a;
}

.box_bottom_green {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
