@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  table-layout: fixed;
}
.q3_table th,
.q3_table td {
  vertical-align: middle;
  border: 1px solid #dedede;
  padding: 10px;
  text-align: center;
}

.q3_table th {
  font-size: 18px;
  background-color: #2244aa;
  line-height: 26px;
  color: white;
}

.q3_table td {
  font-size: 16px;
  line-height: 22px;
}

tbody tr:last-child {
  border-top: 2px dashed #000;
}

.q3_table tr:nth-child(2n+1) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
